<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🍔 Big Whopper Tasty </title>

    <!-- VUE -->
    <script src="./vue.js"> </script>

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <!-- BARRA PARA TITULO  -->
        <div class="container justify-content-center">
            <h1 class="navbar-brand mb-0 h1">
                Monte o seu Lanche </h1>
        </div>
    </nav>

    <div class="container">

        <div id="app">

            <div class="row">

                <div class="col-md-6"> <!-- seção img -->
                    <div class="row mt-2">
                        <div class="col">
                            <!--propriedades computadas-->
                            <img :src="pao[0]">
                            <img :src="alface">
                            <img :src="ketchup">
                            <img :src="mostarda">
                            <img :src="maionese">
                            <img :src="hamburguer">
                            <img :src="pao[1]">
                        </div>
                    </div>
                </div> <!-- FIM seção img -->

                <div class="col-md-6" v-if="etapa == 1">
                    <!-- diretiva p/ renderização condicional -->

                    <!-- TIPO do Pão -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Tipo do Pão
                                </div>

                                <div class="card-body">

                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" value="gergelim"
                                            v-model="inputTipoPao">
                                        <label class="form-check-label">
                                            Gergelim
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" value="australiano"
                                            v-model="inputTipoPao">
                                        <label class="form-check-label">
                                            Australiano
                                        </label>
                                    </div>

                                </div>
                                <!--Card Body Tipos de Pães -->
                            </div> <!-- fim card -->
                        </div>
                    </div>
                    <!-- FIM TIPO do Pão -->

                    <!-- SALADA -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Salada
                                </div>

                                <div class="card-body">

                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" value="alface"
                                            v-model="inputSalada">
                                        <label class="form-check-label"> Alface
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- FIM SALADA -->

                    <!-- MOLHOS -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Molhos
                                </div>

                                <div class="card-body">

                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" value="ketchup"
                                            v-model="inputMolhos">
                                        <label class="form-check-label"> Ketchup
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" value="mostarda"
                                            v-model="inputMolhos">
                                        <label class="form-check-label"> Mostarda
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" value="maionese"
                                            v-model="inputMolhos">
                                        <label class="form-check-label"> Maionese
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> <!--FIM MOLHOS -->

                    <!-- Tipos Hamburguer -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Tipo de Hamburguer
                                </div>
                                <div class="card-body">

                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" value="bovino"
                                            v-model="inputHamburguer">
                                        <label class="form-check-label"> Bovino
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" value="frango"
                                            v-model="inputHamburguer">
                                        <label class="form-check-label"> Frango
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" value="vegetal"
                                            v-model="inputHamburguer">
                                        <label class="form-check-label"> Vegetal
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Fim Tipos Hamburguer -->

                    <!-- Fazer Pedido -->
                    <div class="row mt-2">
                        <!--     button    Fazer pedido    -->
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" @click="fazerPedido()">
                                Fazer pedido
                            </button>
                        </div>
                    </div>
                </div> <!-- Fim col md -->
                <!-- Etapa 2 -->
                <div class="col-md-6" v-if="etapa == 2">
                    <!-- diretiva p/ "renderização condicional" -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <!-- Titulo Informe seus dados -->
                                <div class="card-header">
                                    Informe seus Dados
                                </div>
                                <!-- card-body Informe seus dados -->
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label">
                                            Nome
                                        </label>
                                        <input type="text" class="form-control" v-model="inputNome">
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label class="form-label">
                                            Endereço
                                        </label>
                                        <input type="text" class="form-control" v-model="inputEndereco">
                                    </div>

                                </div>
                            </div> <!--  FIM card -->
                        </div> <!-- col -->
                    </div> <!-- row mt 2 -->

                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <!-- Voltar para o Lanche  -->
                            <button type="button" class="btn btn-warning" @click="etapa -= 1">
                                Voltar para o lanche
                            </button>
                            <button type="button" class="btn btn-success" @click="confirmarPedido()">
                                Confirmar
                            </button>
                        </div>
                    </div>
                </div> <!-- fim col md 6 -->

                <div class="col-md-6" v-if="etapa == 3">
                    <!-- Pedido Confirmado -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <!--  PEDIDO CONFIRMADO -->
                                <div class="card-header"> 
                                    PEDIDO CONFIRMADO
                                </div>
                                <div class="card-body">
                                    <p>
                                        Agora é só aguardar 10 minutos!
                                    </p>
                                    <p>
                                        Vamos chamar vc em breve.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Repetir pedido -->
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <!-- button Repetir Pedido -->
                            <button type="button" class="btn btn-primary" @click="etapa = 1">
                                Repetir Pedido
                            </button>
                            <button type="button" class="btn btn-success" @click="novoPedido()">
                                Novo Pedido
                            </button>
                        </div>
                    </div>
                </div>
            </div> <!-- fim ROW -->
        </div> <!-- FIM APP -->
    </div> <!-- FIM container -->


    <!-- Inicio instancia VUE -->
    <script>

        const vm = new Vue({
            el: '#app',

            data: {
                inputTipoPao: '',  // input radio - obrigatorio
                inputSalada: [], //array - checkbox - opcional
                inputMolhos: [],
                inputHamburguer: '',
                etapa: 1, // v-if
                inputNome: '',
                inputEndereco: '',
                novoPedidoAssincrono: null
            },

            computed: {  //Propriedade computada  -- Reativos
                pao() {  //array == lista /variedade 
                    switch (this.inputTipoPao) {
                        case 'gergelim':
                            return ['imagens/pao_gergelim_superior.png', 'imagens/pao_gergelim_inferior.png']
                        case 'australiano':
                            return ['imagens/pao_australiano_superior.png', 'imagens/pao_australiano_inferior.png']
                        default:
                            return ['imagens/padrao/pao_superior.png', 'imagens/padrao/pao_inferior.png']
                    }
                },

                alface() {
                    if (this.inputSalada.includes('alface')) {
                        return 'imagens/alface.png'
                    }
                    return 'imagens/padrao/alface.png'
                },
                ketchup() {
                    if (this.inputMolhos.includes('ketchup')) {
                        return 'imagens/ketchup.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                mostarda() {
                    if (this.inputMolhos.includes('mostarda')) {
                        return 'imagens/mostarda.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                maionese() {
                    if (this.inputMolhos.includes('maionese')) {
                        return 'imagens/maionese.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                hamburguer() {
                    switch (this.inputHamburguer) {
                        case 'bovino':
                            return 'imagens/bovino.png'
                        case 'frango':
                            return 'imagens/frango.png'
                        case 'vegetal':
                            return 'imagens/soja.png'
                        default:
                            return 'imagens/padrao/hamburguer.png'
                    }
                },
            },
            methods: {
                fazerPedido() {
                    //se Pao e Carne definidos
                    if (this.inputTipoPao && this.inputHamburguer) {
                        this.etapa = 2 //avança p/ etapa Fechar pedido
                    }
                        else {
                            alert ('Vc precisa selecionar no minimo um pão e uma carne')
                    }
                },
                confirmarPedido() {
                    if(this.inputNome && this.inputEndereco) {
                        this.etapa = 3

                        this.novoPedidoAssincrono = setTimeout(() => this.novoPedido(), 10000) 
                    }  

                    else {
                        alert ('Vc precisar informar o seu nome e endereço.')
                    }
                },
                novoPedido() {
                    this.etapa = 1

                    this.inputTipoPao = ''
                    this.inputSalada = []
                    this.inputMolhos = []
                    this.inputHamburguer = ''
                    this.inputNome = ''
                    this.inputEndereco = ''
                },
            },
            watch: {
                etapa(novoValor) {
                    if(novoValor == 1) {
                        clearTimeout(this.novoPedidoAssincrono)
                    }
                }
            },
        })
    </script>

</body>

</html>